// First override some or all individual color variables
$primary: #2b49a3;
$secondary: #e014a3;
$success: #f73c55;
$info: #13101c;
$warning: #f7f303;
$danger: #da1818;
$light: #5e6061;
$dark: #2a2f33;

// Then add them to your custom theme-colors map, together with any additional colors you might need
$theme-colors: (
	primary: $primary,
	secondary: $secondary,
	success: $success,
	info: $info,
	warning: $warning,
	danger: $danger,
	light: $light,
	dark: $dark,
	// add any additional color below
);

@import '../../../node_modules/bootstrap/scss/bootstrap.scss';
